@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200;1,300;1,400&family=Outfit:wght@100;200;300;400;500&display=swap');

#bodyBackground{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    min-height: 1000px;

}

span:hover{
    cursor: pointer;
}

#navbarBackground{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    width: 100%;
    height: 65px;

    transition: background-color 0.4s;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;
    top: 0;
}
.navbarLogin{
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-shadow: 5px 3px 5px rgba(0,0,0,0.9);
    border: 1px solid #999;
    transition: border 0.2s ease-in;
    border-radius: 3px;

    margin-left: auto;
}
.navbarLogin:hover{
    border: 1px solid #007ecc;
    transition: border 0.2s ease;
}

#navbarText>img{
   width: 100px;
}
#navbarText>#searchIcon{
    width: 22px;
    height: 22px;
    padding-top: 10px;
}

#movieTitleInput{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ffffff;
    width: 150px;
    margin-left: 10px;
    position: relative;
    top: -3px;
}
a:visited{
    color: white;
}

#navbarText{
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;

    text-shadow: 5px 3px 5px rgba(0,0,0,0.9);

    box-shadow: inset 0 0px 0 #007ecc;
    transition: box-shadow 0.2s ease-in-out;

}
#navbarText{
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;

    text-shadow: 5px 3px 5px rgba(0,0,0,0.9);

    box-shadow: inset 0 0px 0 #007ecc;
    transition: box-shadow 0.2s ease-in-out;

}

#navbarText:hover{
    box-shadow: inset 0 -2px 0 #007ecc;
    transition: box-shadow 0.2s ease-in-out;
}

#headerImage{
    background-color: #000000;
    width: 100%;
    height: 320px;
    background-image: url("https://images.alphacoders.com/100/1002901.jpg");
    background-size: cover;
    background-position: bottom;



    -webkit-box-shadow: inset 0px -50px 35px -6px #000000;
    box-shadow: inset 0px -50px 35px -6px #000000;
}

#allMoviesBox{
    width: 90%;
    min-height: 900px;
    background-color: #000000;
    margin:auto;
    margin-top: 40px;
}

#allMoviesBoxText{
    background-color: #000000;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
}

#allMovies{
    background-color: #000000;
    margin-top: 15px;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#movieBannerDiv{
    width: 20%;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:inset 0px 0px 0px 1px #000000;
    flex-direction: column;
    color:white;

    display: flex;
    align-items: center;
}

#movieThumbnail{
    width: 90%;
    aspect-ratio: 0.65;
    background-color: #000000;
    object-fit: fill;

}

#movieThumbnail img{
    /*width: 100%;
    border-radius: 5px;
    max-width:100%;
    max-height:100%;*/
    height: 100%; width: 100%; object-fit: cover;

}

#movieThumbnail img:hover{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;

    outline: 1px solid #007ecc;
    outline-offset: -1px;
}


#movieDesc{
    background-color: #000000;
    font-family: 'Mulish', sans-serif;
    margin-top: 10px;


    width:90%;


    white-space: nowrap;
    overflow:hidden;
}
#movieTitle{
    font-size: 16px;
    font-weight: 200;
    /*-webkit-box-shadow: inset -26px 0px 24px -11px #a40e0e;
    box-shadow: inset -26px 0px 24px -11px #ff0000;*/
}
#movieTitle:hover{
    text-decoration: underline #007ecc;
}


#movieInfo{
    color: #999999;
    font-size: 14px;
    font-weight: 200;
}

#logo{
    width: 177px;
    height: 30px;
}

#footerDiv{
    background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: center;
}

#footerText{
    font-family: 'Mulish', sans-serif;
    color:#ffffff;
    font-size: 15px;
    font-weight:400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
#footerText:hover{
    cursor: pointer;
}

#smallFooterText{
    font-family: 'Mulish', sans-serif;
    color: #999999;
    font-size: 11px;
    font-weight:400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

#loginBox{
    background-color: #000000;
    width: 80%;
    margin: auto;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginBox>img{
    width: 10%;
}

#registerBox{
    background-color: #000000;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerBox>img{
    width: 10%;
}

#loginText{
     font-family: 'Mulish', sans-serif;
     color:#ffffff;
     font-size: 28px;
     font-weight:400;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
 }
#loginTextSmall{
    font-family: 'Mulish', sans-serif;
    color:#ffffff;
    font-size: 16px;
    font-weight:400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 3px;
    position: relative;
    left: -100px;
}
#successTextSmall{
    font-family: 'Mulish', sans-serif;
    color: #59ff56;
    font-size: 14px;
    font-weight:400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 3px;

}
.loginInput{
    font-family: 'Mulish', sans-serif;
    width:250px;
    height: 40px;
    border-radius: 5px;
    border-width: 0 0 0 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.loginInput:focus{
    border-width: 0 0 0 0px;
    outline: none;
}

.contentInput{
    font-family: 'Mulish', sans-serif;
    width:250px;
    height: 140px;
    border-radius: 5px;
    border-width: 0 0 0 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#loginButton{
    background-color: #007ecc;
    border-radius: 5px;
    width:270px;
    height: 40px;
    margin-top: 45px;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    cursor: pointer;

}
#loginButton:hover{
    background-color: #019bf5;
    transition: background-color 0.4s;
}
#registerButton{
    background-color: #000000;
    border-radius: 5px;
    width:270px;
    height: 40px;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s;
    border: 1px solid #999;
    cursor: pointer;
}
#registerButton:hover{
    border: 1px solid  #019bf5;
    transition: border 0.3s;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#detailsBox {
    background-color: #000000;
    width: 80%;
    height: 400px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
}
#detailsBoxImage{
    background-color: #000000;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailsBoxImage img{
    height: 90%;
    border-radius: 25px;
    border: white;
}

#detailsBoxInfo{
    background-color: #000000;
    width: 100%;
    height: 90%;
}
#detailsTitle{
    font-family: 'Mulish', sans-serif;
    font-size: 38px;
    font-weight: 500;
}

#detailsContent{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #999999;
    margin-top: 10px;
    display: inline-block;
    width: 50%;
}
#detailsId{
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #999999;
    margin-top: 10px;
    display: inline-block;
    width: 50%;
}
